*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #f5eef6;
}

.titulo{
    font-size: 60px;
    margin-bottom: 2%;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.subtitulo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    font-weight: 800;
    text-align: center;
    bottom: 455px;
}

.fotohome{
    border: 2px solid #A52A2A;
    border-radius: 20px;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 0.5%;
}

.texto{
    font-size: 1.5em;
    list-style: none;
    box-sizing: border-box;
    line-height: 1.4;
    width: auto;
    height: auto;
    padding: 2%;
    border-radius: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

b{
    font-weight: bold;
}

.caja{
    display: flex;
    flex-wrap: wrap;
    background: #F3CEBA;
    border: 2px solid #A52A2A;
}

.caja2{
    column-count: 1;
    margin-left: 10%;
}

body{
    background-image: url(../imagenes/fondo.png);
}

.navbar{
    display: flex;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
    background-color: #F3CEBA;
    border: 2px solid #A52A2A;
    width: 15%;
    height: 80px;
    margin-top: 5px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li:hover {
    background-color: #d6b288;
    color: #f3ceba;
}

nav ul li a{
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.here{
    background-color: #513D25;
}

.home{
    padding: 10% 36% 10% 36%;
}

.estudios{
    padding: 10% 31% 10% 31%;
}

.conocimientos{
    padding: 10% 18% 10% 18%;
}

.experiencia{
    padding: 10% 22% 10% 22%;
}

.contacto{
    padding: 10% 30% 10% 30%;
}

.pie{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: #F3CEBA;
    border: 2px solid #A52A2A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cajapie{
    list-style: none;
    margin-right: 100px;
}

.cajapie2{
    list-style: none;
    margin-right: 100px;
}

.cajapie3{
    list-style: none;
    margin-right: 100px;
}

.cajapie4{
    list-style: none;
    margin-right: 100px;
}

.cajapie5{
    list-style: none;
}

/*MEDIA 1100 PIXELES*/

@media (max-width: 1100px) {
    .subtitulo{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1.7em;
        font-weight: 800;
        text-align: left;
    }
}

@media (max-width: 1100px) {
    .texto{
        margin-left: 0%;
        display: inline-block;
        font-size: 1.4em;
        list-style: none;
        box-sizing: border-box;
        line-height: 1.4;
    
        width: auto;
        height: auto;
        padding: 2%;
        
        border-radius: 20px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}

@media (max-width: 1100px) {
    .caja{
        display: inline-block;
        justify-content: center;
        margin-bottom: 200px;
        width: 100%;
        flex-direction: column;
    
    }
}

@media (max-width: 1100px) {
    .cajapie{
        list-style: none;
        margin-right: 40px;
    }
}

@media (max-width: 1100px) {
    .cajapie2{
        list-style: none;
        margin-right: 40px;
    }
}

@media (max-width: 1100px) {
    .cajapie3{
        list-style: none;
        margin-right: 40px;
    }
}

@media (max-width: 1100px) {
    .cajapie4{
        list-style: none;
        margin-right: 40px;
    }
}

@media (max-width: 1100px) {
    .cajapie5{
        list-style: none;
    }
}

@media (max-width: 1100px) {
    .navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        width: 50%;
        height: 80px;
        margin-top: 15px;
        border-radius: 10px;
    }

    nav ul li a{
        text-decoration: none;
        font-size: 1.5em;
        color: black;

    }

    .home{
        padding: 5% 40% 5% 40%;
    }

    .estudios{
        padding: 5% 35% 5% 35%;
    }

    .conocimientos{
        padding: 5% 20% 5% 20%;
    }

    .experiencia{
        padding: 5% 26% 5% 26%;
    }

    .contacto{
        padding: 5% 35% 5% 35%;
    } 
}

/*MEDIA 600 PIXELES*/

@media (max-width: 600px) {
    .subtitulo{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1.7em;
        font-weight: 800;
        text-align: left;
        bottom: 455px;
    }
}

@media (max-width: 600px) {
    .texto{
        font-size: 1.2em;
        list-style: none;
        box-sizing: border-box;
        line-height: 1.4;
    
        width: auto;
        height: auto;
        padding: 2%;
        
        border-radius: 20px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}

@media (max-width: 600px) {
    .caja{
        justify-content: center;
        margin-bottom: 200px;
    }
}

@media (max-width: 600px) {
    .cajapie{
        list-style: none;
        margin-right: 10px;
    }
}

@media (max-width: 600px) {
    .cajapie2{
        list-style: none;
        margin-right: 10px;
    }
}

@media (max-width: 600px) {
    .cajapie3{
        list-style: none;
        margin-right: 10px;
    }
}

@media (max-width: 600px) {
    .cajapie4{
        list-style: none;
        margin-right: 10px;
    }
}

@media (max-width: 600px) {
    .cajapie5{
        list-style: none;
    }
}

@media (max-width: 600px) {
    .navbar{
        display: flex;
        align-items: center;
    }

    nav ul li {
        width: 50%;
        height: 80px;
        margin-top: 15px;
        border-radius: 10px;
    }

    nav ul li a{
        text-decoration: none;
        font-size: 1.5em;
        color: black;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }

    .home{
        padding: 5% 40% 5% 40%;
    }

    .estudios{
        padding: 5% 35% 5% 35%;
    }

    .conocimientos{
        padding: 5% 20% 5% 20%;
    }

    .experiencia{
        padding: 5% 26% 5% 26%;
    }

    .contacto{
        padding: 5% 35% 5% 35%;
    } 
}
